.fName {
  color: var(--green);
  font-size: 75px;
  font-family: "Press Start 2P", cursive;
  margin-top: 60px;
  text-shadow: -2px 0px 0px var(--black), 2px 0px 0px var(--black),
  0px -2px 0px var(--black), 0px 2px 0px var(--black);
}

.lName {
  color: var(--pink);
  font-size: 45px;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 50px;
  text-shadow: -2px 0px 0px var(--black), 2px 0px 0px var(--black),
  0px -2px 0px var(--black), 0px 2px 0px var(--black);
}

.homeContainer {
  margin-top: 90px;
}

