.fName {
  color: var(--green);
  font-size: 75px;
  font-family: "Press Start 2P", cursive;
  margin-top: 50px;
  text-shadow: -2px 0px 0px var(--black), 2px 0px 0px var(--black),
  0px -2px 0px var(--black), 0px 2px 0px var(--black);
}

.lName {
  color: var(--pink);
  font-size: 45px;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 50px;
  text-shadow: -2px 0px 0px var(--black), 2px 0px 0px var(--black),
  0px -2px 0px var(--black), 0px 2px 0px var(--black);
}

/* button {
  width: 437px;
  height: 357px;
}

.card-header {
  background: var(--green);
  border-bottom: 2px solid #000000;
} */