html {
    scroll-behavior: smooth;
}
body {
    background-color: #B0D4B8;
}
header {
    background-color: #5D7B6F;
    color: #EAE7D6;
}

/* possibly add marigin for Welcome */
h1 {
    text-align: center;
}

.page {
    text-align: right;
}

.select {
    display: inline;
}

h2 {
    color: #5D7B6F;
}

footer {
    text-align: center
}

.info {
    display:flex;
    justify-content:center;
    list-style: none;
}

.abc {
    margin-left: 2%;
    margin-right: 2%;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.small-image {
    height: 175px;
    width: 175px;
    margin: auto;
}
.small-image:hover, .large-image:hover {
    opacity: .5;
}