@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

:root {
  --blue: #6783a4;
  --lblue: #aab6d3;
  --green: #86d795;
  --pink: #f68e8f;
  --grey: #d9d9d9;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
  background-size: cover;
}

/* body {
} */

#root {
  background-color: var(--blue);
  height: auto;
  width: auto;
  min-height: 100vh;
}

/* Header/Nav */
header {
  font-family: "Press Start 2P", cursive;
}

.topBox {
  background-color: var(--green);
  border-bottom: 1px solid #000000;
}

.welcome {
  margin-top: 2px;
  margin-left: 25px;
  margin-bottom: 0px;
  font-size: 30px;
}

/* h2 {
  position: absolute;
} */

.navBox {
  background-color: var(--lblue);
  border-bottom: 1px solid #000000;
}

nav {
  margin-left: 0px;
}

ul {
  list-style-type: none;
}

.navUl {
  margin: 5px;
}

.headerX {
  height: 30px;
  width: 30px;
  border: 2px solid #000000;
  margin-top: 5px;
  margin-right: 8px;
}

.fakeUrl {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  background-color: var(--grey);
  border-radius: 10px;
  border: 1px solid #000000;
}

.fakeUrlText {
  font-size: 20px;
  margin: 5px;
  padding-left: 15px;
}

/* h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding-top: 40px;
} */

.page {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.select {
  display: inline;
  padding: 10px;
}

/* Default settings for all pages */

/* h2 {
  
} */

/* Footer */

footer {
  padding-top: 50px;
  text-align: center;
  font-family: "Monofett", cursive;
}

.foot {
  margin: 0;
  margin-right: 20px;
  text-align: end;
  text-shadow: -1px 0px 0px var(--black), 1px 0px 0px var(--black),
    0px -1px 0px var(--black), 0px 1px 0px var(--black);
}

.tessa {
  font-size: 95px;
  color: var(--green);
}

.robinson {
  font-size: 59px;
  color: var(--pink);
}
