@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

:root {
  --blue: #6783a4;
  --lblue: #aab6d3;
  --green: #86d795;
  --pink: #f68e8f;
  --grey: #d9d9d9;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
 font-family: 'Press Start 2P', cursive;
}

body {
  background-color: var(--blue);
  margin: 0;
  width: auto;
}

/* Header/Nav */
header {
  background-color: var(--green);
  height: 100px;
  width: auto;
}

.headerX {
  position:relative;
  left: 930px;
  top: 7px;
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
  border: 2px solid #000000;
}

.navUrl {
  text-align: center;
  padding-top: 1px;
}

select {
  background-color: var(--grey);
  appearance: none;
  
  width: 1900px;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
}

/* h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding-top: 40px;
} */

.page {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.select {
  display: inline;
  padding: 10px;
}

/* Default settings for all pages */

h2 {
  color: #5d7b6f;
  text-align: center;
  font-size: 35px;
}

/* Footer */

footer {
  padding-top: 50px;
  text-align: center;
  font-family: 'Monofett', cursive;
}

h1 {
  margin: 0;
  margin-right: 20px;
  text-align:end;
  
}

.tessa {
  font-size: 95px;
  color: var(--green);
  text-shadow:
-1px 0px 0px var(--black),
1px 0px 0px var(--black),
0px -1px 0px var(--black),
0px 1px 0px var(--black)
}

.robinson {
  font-size: 59px;
  color: var(--pink);
  text-shadow:
-1px 0px 0px var(--black),
1px 0px 0px var(--black),
0px -1px 0px var(--black),
0px 1px 0px var(--black)
}